__pycache__
.venv/
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.dylib
.codex
.claude

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl